.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 2rem;
  height: 2rem;
}

.counter {
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2rem;
  width: 33%;
}

.count {
  margin: 0 1rem;
}
